<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Document Management System</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>

    <!-- Custom fonts for this template -->
    <link th:href="@{/assets/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/vendor/simple-line-icons/css/simple-line-icons.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic}" rel="stylesheet" type="text/css"/>

    <!-- Custom styles for this template -->
    <link th:href="@{/assets/css/landing-page.min.css}" rel="stylesheet" type="text/css"/>

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" th:href="@{/home}">Document Management System</a>
        <a class="btn btn-primary" th:href="@{/login}">Sign In</a>
    </div>
</nav>

<!-- Masthead -->

<!-- Icons Grid -->
<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <form method="POST" action="/upload" enctype="multipart/form-data">
                <input type="file" name="file" />
                <input type="submit" value="upload" />
            </form>
            <br/>
        </div>
        <div class="row">
            <strong><p style="color: #b21f2d" th:text="${uploadMessage}"></p></strong>
        </div>
        <div class="row">
            <table>
                <tr>
                    <th>NAME</th>
                    <th>VERSION</th>
                    <th>SIZE</th>
                    <th>OWNER</th>
                    <th>UPLOADED</th>
                </tr>
                <tr th:each="file : ${filesMetadata}">
                    <td th:text="${file.getName()}"></td>
                    <td th:text="${file.getVersion()}"></td>
                </tr>
            </table>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item">
                        <a href="#">About</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="#">Contact</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="#">Terms of Use</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="#">Privacy Policy</a>
                    </li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy; DMS FIM UHK 2017. All Rights Reserved.</p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item mr-3">
                        <a href="https://github.com/xaverric/dms">
                            <i class="fa fa-github fa-2x fa-fw"></i>
                        </a>
                    </li>
                    <li class="list-inline-item mr-3">
                        <a href="https://www.codacy.com/app/jilek.daniel/dms/dashboard">
                            <i class="fa fa-code fa-2x fa-fw"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://circleci.com/gh/xaverric/dms/tree/master">
                            <i class="fa fa-circle-o-notch fa-2x fa-fw"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script th:src="@{/assets/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>
