<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Document Management System</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>

    <!-- Custom fonts for this template -->
    <link th:href="@{/assets/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/vendor/simple-line-icons/css/simple-line-icons.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic}" rel="stylesheet" type="text/css"/>

    <!-- Custom styles for this template -->
    <link th:href="@{/assets/css/landing-page.min.css}" rel="stylesheet" type="text/css"/>

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="/files">Document Management System</a>
        <a class="btn btn-primary" th:href="@{/files}">Back</a>
    </div>
</nav>

<!-- Masthead -->
<section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12 mx-auto">
                <h2 class="mb-4"></h2>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <form>
                    <div class="form-row">
                        <div class="col-12 col-md-12">
                            <h1>File <p th:text="${file.getName()}"/></h1>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>File information</h2>
            </div>
            <div class="col-lg-12">
                <b>ID:</b> <p th:text="${file.getId()}"/>
            </div>
            <div class="col-lg-12">
                <b>File size:</b> <p th:text="${file.getFileSize()}"/>
            </div>
            <div class="col-lg-12">
                <b>Version: </b> <p th:text="${file.getVersion()}"/>
            </div>
            <br/>
            <br/>
            <h2>Notes</h2>
            <div th:each="note : ${notes}" class="col-lg-12">
                <hr/>
                <b>Subject: <p th:text="${note.getSubject()}"></p></b>
                <b>Date: <p th:text="${note.getLastModified()}"></p></b>
                <b>Created by: <p th:text="${note.getUser().getUsername()}"></p></b>
                <p th:text="${note.getText()}"/>
            </div>
            <br/>
            <br/>
            <div class="col-lg-12">
                <form method="post" action="/addNote">
                    <div class="form-row">
                        <div class="col-12 col-md-12 mb-2 mb-md-2">
                            <input type="text" class="form-control form-control-lg" placeholder="subject"
                                   name="subject"/>
                        </div>
                        <div class="col-12 col-md-12 mb-2 mb-md-2">
                            <input type="text" class="form-control form-control-lg" placeholder="text"
                                   name="text"/>
                            <input type="hidden" name="id" th:value="${file.getId()}"/>
                        </div>
                        <div class="col-12 col-md-12 mb-2 mb-md-2">
                            <button type="submit" class="btn btn-block btn-lg btn-primary">Add note</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item">
                        <a href="#">About</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="#">Contact</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="#">Terms of Use</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="#">Privacy Policy</a>
                    </li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy; DMS FIM UHK 2017. All Rights Reserved.</p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item mr-3">
                        <a href="https://github.com/xaverric/dms">
                            <i class="fa fa-github fa-2x fa-fw"></i>
                        </a>
                    </li>
                    <li class="list-inline-item mr-3">
                        <a href="https://www.codacy.com/app/jilek.daniel/dms/dashboard">
                            <i class="fa fa-code fa-2x fa-fw"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://circleci.com/gh/xaverric/dms/tree/master">
                            <i class="fa fa-circle-o-notch fa-2x fa-fw"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script th:src="@{/assets/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>
